body {
  font-family: 'Blinker', sans-serif;
}


.navbar-brand {
  font-size: 2em;
  font-family: 'Parisienne', cursive;
}

.navbar-brand img{
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #000080;
  border-radius: 50%;
}

nav li a {
  font-size: 1.2em;
}

.gift-quote {
  margin-top: 50px;
  font-size: 3.5em;
  font-family: 'Parisienne', cursive;
}

.gift-quote p {
  margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
  .gift-quote {
    margin-top: 50px;
    font-size: 2em;
  }
}
